@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Roboto:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,400;1,700&display=swap');

/* Document */

*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  /* height: 100vh; */
  font-family: 'Oswald', sans-serif;
}

.slika-pozadine {
  background-image: url('../images/space2.jpg');
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center; */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  z-index:-2;
  position: absolute;
}

.outer-div {
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  height: 150vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

/* Header */
.header {
  margin: 0 auto;
  margin-bottom: 1rem;
  height: 8vh;
  width: 100%;
  background-color: rgba(1, 6, 75, 0.59);
  transition: all 200ms ease;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.125rem;
  font-family: 'Oswald', sans-serif;
  position: relative;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
}

nav li {
  margin-left: 1.5rem;
  list-style: none;
}

nav li a {
  padding-right: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 800;
  text-decoration: none;
  font-size: 1.2rem;
}

nav li:hover a {
  opacity: 0.75;
}

.otvori-meni {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  display: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.priprema {
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

/* Ime/Name */
.moje-ime {
  margin-top: 0;
  font-size: 2.5rem;
  height: 100%;
  margin-bottom: 3.5rem;
  color: #fff;
  font-weight: 600;
  font-family: 'Lato';
  font-style: italic;
}

/* Naslovna/Home */

.naslovna {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-family: 'Lato';
  font-style: italic;
}

.moja-poruka {
  text-align: center;
  margin-bottom: 0.5rem;
  color: white;
  /* font-weight: 800; */
}

.naslovna a {
  color: beige;
  text-decoration: none;
  font-weight: 600;
  font-style: italic;
  transition: all 0.2s;
  font-size: 0.8rem;
  max-width: 16rem;
  align-self: center;
}

.naslovna a:hover {
  color: rgb(1, 212, 160);
  font-size: 0.9rem;
  letter-spacing: 1px;
}


section {
  margin-bottom: 1.5rem;
  padding: 5px;
}

.main {
  padding-top: 2rem;
  text-align: center;
}

main {
  padding: 6rem;
  text-align: center;
}

h3 {
  margin-bottom: 1rem;
}


/* Kontakt */

.tekst-za-kontakt {
  text-transform: uppercase;
  margin-bottom: 0;
}

.lista-kontakata {
  margin:0;
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lista-kontakata li {
  margin-bottom: 2.5rem;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  align-self: flex-start;
  width: 100%;
}

.lista-kontakata li p {
  max-width: 16rem;
  align-self: center;
  text-transform: uppercase;
  margin-bottom: 0.2rem;
  font-weight: 800;
}

.lista-kontakata li a {
  text-align: center;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  transition: all 200ms ease;
}

.lista-kontakata li a:hover {
  opacity: 0.75;
  letter-spacing: 1px;
}

/* Projekti */

.projekti {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
}

.naziv-projekti {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.projekat {
  border: 2px solid red;
}

.projekat a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  transition: all 100ms ease;
}

.projekat a:hover {
  font-size: 1.05rem;
}



/* Media queries */
@media (max-width: 768px) {
  .moje-ime {
    font-size: 2rem;
  }

  .container {
    padding: 1rem;
  }

  .header.prikaži-meni {
    height: 6rem;
  }

  .navbar {
    width: 100%;
    align-items: flex-end;
  }

  .nav-list {
    display: none;
    height: 100%;
  }
    
  .nav-list.prikaži-meni {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .otvori-meni {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: block;
    justify-self: flex-end;
    margin-right: 1rem;
    margin-left: auto;
  }
}



@media (max-width: 550px) {
  .moja-poruka {
    font-size: 1.5rem;
  }

  .moje-ime {
    font-size: 1.5rem;
  }
}