@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat';
  font-size: 16px;
  min-height: 100vh;
  background-color: #f9fdf2;
}

button:focus, a:focus {
  outline: 2px solid #333;
}

a:active {
  transform: scale(0.98);
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.container.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #f9fdf2;
  height: 10vh;
  border-bottom: 1px solid rgba(197, 162, 202, 0.322);
}

.logo {
  width: 3rem;
  height: 3rem;
}

.logo-link {
  -webkit-tap-highlight-color: transparent;
}

.show-navbar {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 0.3rem;
  cursor: pointer;
  color: #032202;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

.show-navbar:focus {
  -webkit-tap-highlight-color: transparent;
}

.show-navbar.navbar-open {
  transform: rotate(-225deg);
}

.navbar {
  background-color: rgba(1, 34, 0, 0.945);
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 10vh;
  left: -100%;
  transition: all 0.5s ease-in-out;
  z-index: 11;
}

.navbar.visible-navbar {
  left: 0;
}

.nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  list-style: none;
  align-items: center;
}

.list-item {
  margin-bottom: 2rem;
  position: relative;
}

.list-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ebfced;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.1s linear;
}

.list-item a:hover, .list-item a:focus {
  color: #002706;
  border-bottom: 1px solid rgba(240, 160, 229, 0.211);
}

.list-item a:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.main {
  margin: 0 auto;
  padding: 3rem 0;
  font-size: 1.2rem;
  color: #111;
  background-color: #f9fdf2;
  height: min-content;
}

.main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .title-intro {
  font-size: 0.8rem;
  color: #111;
}

.main h1 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.main-title {
  margin-bottom: 5rem;
  color: rgb(44, 56, 58);
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1.5rem;
  width: 100%;
  max-width: 800px;
  margin-bottom: 4rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(51, 51, 51, 0.247);
}

.language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.language-title {
  margin-bottom: 0.7rem;
  font-weight: bold;
  font-size: 1rem;
  color: #777;
}

.language img {
  width: 50px;
  height: 50px;
}

/* Main page projects */

.main-projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  width: 100%;
  margin-bottom: 3rem;
  min-height: 100vh;
}

.project {
  overflow: hidden;
  position: relative;
}

.project-container {
  margin-bottom: 5rem;
  width: 100%;
}

.project .project-title {
  width: 90%;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1.5rem;
  position: absolute;
  background-color: #fff;
  padding: 0.5rem 1rem;
  top: 0;
  left: 0;
}

.project-paragraph {
  font-size: 0.8rem;
  line-height: 1.8;
}

.buttons {
  width: 100%;
  max-width: 500px;
}

.cta {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  word-spacing: 5px;
  cursor: pointer;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.view-more {
  background-color: #022701;
  color: #fff;
}

.contact-me {
  border: 2px solid #022701;
  margin-bottom: 5rem;
  color: #022701;
}

/* End of main page projects */

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 20, 0);
  height: 20vh;
}

.footer p {
  color: #effdfd;
  opacity: 0.7;
  font-size: 1rem;
  margin: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.icons {
  background-color: #c4facb0e;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.fa-twitter {
  color: rgb(79, 160, 252);
  padding: 10px;
  display: inline-block;
  font-size: 20px;
}

.fa-linkedin {
  color: rgb(2, 80, 168);
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

.fa-github {
  color: rgb(0, 5, 10);
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}


/* ========= About ========= */
.biografija section {
  width: 100%;
  margin-bottom: 3rem;
}

.biografija h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.biografija p {
  line-height: 1.6;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

/* ======= Contact ======= */
.contact-form {
  width: 100%;
  max-width: 500px;
  font-size: 1.2rem;
  font-family: 'Montserrat', Arial;
  margin-bottom: 3rem;
}

.form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  gap: 1rem;
  font-weight: bold;
}

.name, .email, .message {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  /* background-color: #ccc; */
  font-size: 1rem;
  margin-bottom: 2rem;
  font-family: 'Roboto', Arial, sans-serif;
}

.name:focus, .email:focus, .message:focus {
  border: 2px solid #1c9275;
  outline: none;
  /* background-color: #ddd; */
}

.form-button {
  width: 100%;
  margin-bottom: 5rem;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 5px;
  color: #eee;
  background-color: #1c9275;
  font-weight: bold;
  border: none;
  letter-spacing: 0.05rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-button:focus {
  outline: none;
  background-color: #0d4436;
  color: #fff;
}

.social-links {
  width: 100%;
  max-width: 500px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.social {
  text-decoration: none;
  text-align: center;
  color: #333;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.social:focus {
  outline: none;
}

.social-twitter {
  border: 2px solid rgb(79, 160, 252);
}

.social-twitter:focus {
  background-color: rgb(79, 160, 252);
  color: #111;
}

.social-linkedin {
  border: 2px solid rgb(2, 80, 168);
}

.social-linkedin:focus {
  background-color: rgb(2, 80, 168) ;
  color: #fff;
}

.social-github {
  border: 2px solid rgb(0, 5, 10);
}

.social-github:focus {
  background-color: rgb(0, 5, 10);
  color: #fff;
}


/* ======= Projects ======= */
.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: min-content;
  grid-gap: 2rem;
}

.project {
  position: relative;
  width: 100%;
  height: min-content;
  border-radius: 4px;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #333;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.project-languages {
  color: #ccc;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 0.6rem;
  height: 10%;
}

.project-image, .project-paragraph, .project-languages {
  max-width: 100%;
}

.project-image {
  height: 50%;
}

.project-paragraph {
  min-height: 40%;
  padding: 1rem;
  font-size: 0.9rem;
  height: min-content;
  padding: 1rem;
  text-align: center;
  /* background-color: #d0fad6; */
}


/* ======= Media queries ======= */
@media(min-width: 600px) {
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
  }

  .cta {
    display: inline;
    width: 45%;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .show-navbar {
    display: none;
  }

  .navbar {
    position: static;
    background-color: inherit;
  }

  .nav-list {
    width: 100%;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  .list-item {
    margin: 0;
    border: none;
    transition: all 0.2s linear;
  }

  .list-item a {
    color: #002c14;
    letter-spacing: 0;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .list-item a:hover, .list-item a:focus {
    border-bottom: 2px solid #002c14;
  }

  .primary-title, .main-title, .languages, .project-section, .buttons {
    align-self: flex-start;
  }

  .languages {
    display: flex;
    justify-content: space-between;
    border: none;
  }

  /* Contact page */
  .form-button {
    width: 50%;
  }

  /* Projects */

  .project {
    flex-direction: row;
    width: 100%;
    height: 30vh;
  }

  .project-image, .project-paragraph {
    width: 40%;
    height: 100%;
  }

  .project-languages {
    width: 20%;
    height: 100%;
    flex-direction: column;
  }
}

@media (min-width: 900px) {
  .biografija h1, .biografija p {
    max-width: 800px;
  }

  .languages {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }

  .main-projects {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
    margin-bottom: 3rem;
    min-height: 100vh;
  }

  .project-container {
    margin-bottom: 5rem;
    height: 50vh;
  }

  .project-container .project {
    flex-direction: column;
    height: 100%;
    justify-content: stretch;
  }

  .project-title {
    margin-bottom: 1rem;
  }

  .project-container .project-languages {
    flex-direction: row;
    height: 10%;
  }

  .project-container .project-paragraph,
  .project-container .project-image {
    height: 45%;
    line-height: 2;
  }

  .project-container .project-image,
  .project-container .project-languages,
  .project-container .project-paragraph {
    width: 100%;
  }

  /* Contact page */
  .contact-main {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .contact-form {
    /* background-color: #e9faeb; */
    padding: 1rem;
  }

  .form-button {
    margin-bottom: 0;
  }

  .social-links {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    justify-self: end;
    position: relative;
  }

  .social {
    position: absolute;
    text-align: center;
    padding: 1rem;
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }

  .social-linkedin {
    top: 150px;
    left: 150px;
  }
  
  .social-github {
    top: 300px;
    left: 300px;
  }


  /* Projects */
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    margin-bottom: 3rem;
  }

  .projects-project-container {
    display: flex;
    flex-direction: column;
    min-height: 50%;
  }

  .projects-project-container .project {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: stretch;
  }

  .projects-project-container .project-image,
  .projects-project-container .project-languages,
  .projects-project-container .project-paragraph {
    width: 100%;
  }

  .projects-project-container .project-image,
  .projects-project-container .project-paragraph {
    height: 45%;
  }

  .projects-project-container .project-languages {
    height: 10%;
    flex-direction: row;
  }

  .projects-project-container .project-paragraph {
    line-height: 2;
  }
}
