@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  scroll-behavior: smooth;
}

button:focus, a:focus {
  outline: 2px solid #333;
}

a:active {
  transform: scale(0.98);
}

.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.container.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #f9fdf2;
  height: 10vh;
  border-bottom: 1px solid rgba(197, 162, 202, 0.322);
  position: fixed;
  top: 0;
  z-index: 111;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.logo-link {
  -webkit-tap-highlight-color: transparent;
}

.show-navbar {
  font-size: 3.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #032202;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.show-navbar:focus {
  -webkit-tap-highlight-color: transparent;
}

.show-navbar.navbar-open {
  transform: rotate(-225deg);
}

.navbar {
  background-color: rgba(1, 34, 0, 0.945);
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 10vh;
  left: -100%;
  transition: all 0.5s ease-in-out;
  z-index: 11;
}

.navbar.visible-navbar {
  left: 0;
}

.nav-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem;
  list-style: none;
  align-items: center;
}

.list-item {
  margin-bottom: 2rem;
  position: relative;
}

.list-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ebfced;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.1s linear;
}

.list-item a:hover, .list-item a:focus {
  color: #ccc;
}

.list-item a:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

/* BACK TO TOP BUTTON */
.back-to-top {
  background-color: rgb(13, 105, 38);
  color: #fff;
  border: none;
  padding: 5px;
  font-size: 1.3rem;
  border-radius: 4px;
  z-index: 22;
  position: fixed;
  bottom: 80px;
  right: 5px;
  visibility: hidden;
  opacity: 0.7;
}

.back-to-top:focus {
  outline: none;
}
/* END OF BACK TO TOP BUTTON */

/* main page */
.main {
  margin: 0 auto;
  padding: 9rem 0 0;
  font-size: 1.2rem;
  color: #111;
  background: #f9fdf2;
}

.main.landing-page {
  min-height: 100vh;
}

.landing-page .container {
  position: relative;
  height: 100%;
}

.main .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h1 {
  text-align: left;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  color: #444;
}

.main-title {
  margin-bottom: 1rem;
  color: rgb(2, 71, 20);
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
}

.main-title:last-of-type {
  margin-bottom: 2rem;
  color: rgb(54, 56, 56);
  font-size: 1.2rem;
}

/* main page buttons */
.buttons {
  width: 100%;
  max-width: 600px;
}

.cta {
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 2px;
  word-spacing: 5px;
  cursor: pointer;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.cta:hover, .cta:focus {
  transform: scale(1.02);
}

.cta:active {
  outline: none;
  transform: scale(1);
}

.view-more {
  background-color: #022701;
  border: 2px solid #022701;
  margin-top: 5rem;
  color: #fff;
}

.contact-me {
  border: 2px solid #022701;
  color: #022701;
  letter-spacing: 1px;
}

/* Footer */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 20, 0);
  height: 15vh;
}

.footer p {
  color: #effdfd;
  opacity: 0.7;
  font-size: 1rem;
  margin: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.icons {
  background-color: #c4facb0e;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.fa-twitter {
  color: rgb(79, 160, 252);
  padding: 10px;
  display: inline-block;
  font-size: 20px;
}

.fa-linkedin {
  color: rgb(2, 80, 168);
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

.fa-github {
  color: rgb(0, 5, 10);
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}


/* ========= About ========= */
.biografija section {
  width: 100%;
  margin-bottom: 3rem;
}

.about-title {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.stack-title, .interests-title {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  color: #222;
}

.stack .languages, .interests-tech {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.stack .languages .language {
  background-color: rgb(210, 235, 211);
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.stack .languages .language {
  background-color: rgb(210, 235, 211);
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.biografija p {
  line-height: 1.6;
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}

/* ======= Contact ======= */
.contact-form {
  border-radius: 4px;
  width: 100%;
  max-width: 800px;
  font-size: 1.2rem;
  font-family: 'Montserrat', Arial;
  margin-bottom: 3rem;
}

.form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  gap: 0.5rem;
  font-weight: bold;
}

.name, .email, .message {
  background-color: #fff;
  width: 100%;
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 2rem;
  font-family: 'Roboto', Arial, sans-serif;
}

.name:focus, .email:focus, .message:focus {
  border: 2px solid #1c9275;
  outline: none;
}

.form-button {
  width: 100%;
  margin-bottom: 5rem;
  padding: 0.8rem 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 5px;
  color: #eee;
  background-color: #1c9275;
  font-weight: bold;
  border: none;
  letter-spacing: 0.05rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-button:focus {
  outline: none;
  background-color: #0d4436;
  color: #fff;
}

.social-links {
  width: 100%;
  max-width: 800px;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.social {
  text-decoration: none;
  text-align: center;
  color: #333;
  width: 100%;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .fab {
  font-size: 1.6rem;
}

.social-text {
  font-size: 1.4rem;
}

.social:focus {
  outline: none;
}

.social:hover {
  color:rgb(97, 100, 100);
}

.social-twitter {
  border: 2px solid rgb(79, 160, 252);
}

.social-twitter:focus {
  outline: 2px solid rgb(79, 160, 252);
  outline-offset: -6px;
}

.social-linkedin {
  border: 2px solid rgb(2, 80, 168);
}

.social-linkedin:focus {
  outline: 2px solid rgb(2, 80, 168);
  outline-offset: -6px;
}

.social-github {
  border: 2px solid rgb(0, 5, 10);
}

.social-github:focus {
  outline: 2px solid rgb(0, 5, 10);
  outline-offset: -6px;
}
/* end of contact page */


/* ======= Projects ======= */
.projects {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  height: min-content;
  grid-gap: 2rem;
}

.project {
  position: relative;
  width: 100%;
  height: min-content;
  border-radius: 4px;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: #333;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.project-languages {
  color: rgb(121, 120, 120);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 0.6rem;
  height: 10%;
}

.project-image, .project-paragraph, .project-languages {
  max-width: 100%;
}

.project-image {
  height: 50%;
}

.project-paragraph {
  min-height: 40%;
  padding: 1rem;
  font-size: 0.9rem;
  height: min-content;
  padding: 1rem;
  text-align: center;
  background-color: #ecfdef;
}


/* ======= Media queries ======= */
@media(min-width: 600px) {

  .primary-title {
    margin-top: 4rem;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
  }

  .cta {
    margin: 0 1rem;
    padding: 1rem 1.5rem;
  }

  .cta:first-of-type {
    margin-left: 0;
  }
}

@media(min-width: 768px) {
  .primary-title, .main-title, .project-section, .buttons {
    align-self: flex-start;
  }

  .main-title:first-of-type {
    text-align: start;
    font-size: 3rem;
  }

  .buttons {
    max-width: 500px;
  }

  /* main projects */
  .main-projects {
    grid-template-columns: repeat(2, 1fr);
  }

  .project-container {
    height: 50vh;
  }

  /* Contact page */
  .form-button {
    width: 50%;
  }
}

@media (min-width: 900px) {
  /* visible navbar */
  .show-navbar {
    display: none;
  }

  .navbar {
    position: static;
    background-color: inherit;
  }

  .nav-list {
    width: 100%;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 100%;
  }

  .list-item {
    margin: 0;
    border: none;
    transition: all 0.2s linear;
  }

  .list-item a {
    color: #002c14;
    letter-spacing: 0;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .list-item a:hover, .list-item a:focus {
    color: #99B49F;
  }
  /* visible navbar */

  .main.landing-page {
    background-image: url('/images/vector-bottom-right-smaller.jpg');
    background-size: cover;
  }

  .landing-page {
    min-height: 85vh;
  }

  .biografija h1, .biografija p {
    max-width: 800px;
  }

  .main-projects {
    grid-template-columns:  repeat(3, 1fr);
    gap: 3rem;
    width: 100%;
    margin-bottom: 3rem;
    min-height: 50vh;
  }

  .project-container {
    margin-bottom: 3rem;
    height: 50vh;
  }

  .project-container .project {
    flex-direction: column;
    height: 100%;
    justify-content: stretch;
  }

  .project-title {
    margin-bottom: 1rem;
  }

  .project-container .project-languages {
    flex-direction: row;
    height: 10%;
  }

  .project-container .project-paragraph,
  .project-container .project-image {
    height: 45%;
    line-height: 2;
  }

  .project-container .project-image,
  .project-container .project-languages,
  .project-container .project-paragraph {
    width: 100%;
  }

  /* Contact page */
  .contact-main {
    padding: 4rem 0 0;
    display: flex;
    justify-content: center;
  }

  .contact-form {
    padding: 1rem;
    height: 100%;
    background-color:rgb(221, 238, 228);
    width: 50%;
    margin-bottom: 0;
    padding: 5rem 2rem 5rem 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-button {
    margin-bottom: 0;
  }

  .social-links {
    background-color:rgb(241, 247, 243);
    width: 50%;
    justify-content: flex-start;
    gap: 1rem;
    position: relative;
    padding: 5rem 1rem 5rem 2rem;
    margin: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .social {
    border: none;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    max-width: 500px;
    margin-bottom: 1rem;
  }


  /* Projects */
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 100%;
    margin-bottom: 3rem;
  }

  .projects-project-container {
    display: flex;
    flex-direction: column;
    min-height: 50%;
  }

  .projects-project-container .project {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: stretch;
  }

  .projects-project-container .project-image,
  .projects-project-container .project-languages,
  .projects-project-container .project-paragraph {
    width: 100%;
  }

  .projects-project-container .project-image,
  .projects-project-container .project-paragraph {
    height: 45%;
  }

  .projects-project-container .project-languages {
    height: 10%;
    flex-direction: row;
  }

  .projects-project-container .project-paragraph {
    line-height: 2;
  }
}
